html {
    height: 100%;
}
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    font-size: 87.5%; /* Base size - 14px */
}
a {
    text-decoration: none;
}
* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;

    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
}
header.page-header {
    width: 100%;
    height: 90px;
    overflow: hidden;
    background: #FFF;
    color: white;
    border-bottom: 1px solid #C6C6C6;
}
.page-body {
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
}
.logo-wrapper {
    margin: 5px 20px;
}
nav#main-nav {
    width: 300px;
    height: 100%;
    background: #231F20;
}
nav#main-nav .section-heading {
    width: 100%;
    font-size: 85%;
    text-transform: uppercase;
    color: #777;
    text-align: center;
    padding: 25px 0 15px 0;
}
nav#main-nav ul {
    margin: 0;
    padding: 0;
}
nav#main-nav ul li {
    list-style: none;
    border-bottom: 1px solid #222d32;
    font-weight: bold;
    font-size: 85%;

    box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);

    border-bottom: 1px solid #333;
}
nav#main-nav ul li:hover > a {
    color: #BF002D;
    padding-left: 50px;
    background-color: #111;
    border-left: 3px solid #BF002D;
}
nav#main-nav ul li a {
    display: block;
    color: #ccc;
    padding: 10px 25px;
}
nav#main-nav ul li a i {
    margin: 0 15px 0 0;
    font-size: 130%;
}
.page-content {
    flex: 1;
}
.sub-section h1 {
    font-size: 95%;
    border: none;
    background: #BF002D;
    padding: 10px 15px;
    color: white;
    border-bottom: 1px solid #CBE0EE;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
    margin: 10px 10px 0 10px;
}
footer.page-footer {
    width: 100%;
    height: 50px;
    background: #FFF;
    margin-top: auto;
}
input[type="text"], input[type="password"], textarea {
    height: 33px;
    width: 50%;
    border: 1px solid #CCC;
    outline: none;
    margin: 0;
    padding: 5px 15px;
    box-shadow: inset 2px 2px 2px 0px rgba(42, 42, 42, .12);
    -moz-box-shadow: inset 2px 2px 2px 0px rgba(42, 42, 42, .12);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(42, 42, 42, .12);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #F9A51B;
}
button {
    padding: 9px 15px;
    background-color: #F9A51B;
    color: white;
    font-weight: bold;
    min-width: 100px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 95%;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2),inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
button:hover {
    background-color: #d78e1a;
}
.clear {
    clear: both;
}
h1 {
    font-size: 120%;
    padding: 5px;
    margin: 10px;
}
