.developers {
    margin: 0 10px;
    padding: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
}
.photo {
    margin: 0 20px 20px 20px;
    text-align: center;
    float: left;
}
.photo img {
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
    border: 5px solid white;
    cursor: pointer;
}
.developer-row .name {
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 40px;
    cursor: pointer;
    min-width: 350px;
    max-width: 350px;
}
.developer-row .name:hover {
    text-decoration: underline;
}
.developer-row {
    margin-bottom: 10px;
    border-bottom: 1px solid #DADADA;
}
.developer-row h2 {
    width: 100%;
    margin: 10px;
    font-size: 1.2em;
}
.developer-row .tasks {
    margin-left: 40px;
    margin-bottom: 15px;
    padding: 10px;
    background: white;
    box-shadow: 0 1.5px 1px rgba(0, 0, 0, 0.24), 0 1.5px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1.5px 1px rgba(0, 0, 0, 0.24), 0 1.5px 1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1.5px 1px rgba(0, 0, 0, 0.24), 0 1.5px 1px rgba(0, 0, 0, 0.12);
    display: none;
}
.developer-row .task {
    margin: 10px;
    cursor: pointer;
}
.developer-row .task-name {
    padding: 5px;
    float: left;
}
.developer-row .task-name:hover {
    text-decoration: underline;
}
.developer-row .expand-collapse {
    margin: 0 20px;
    display: inline-block;
    cursor: pointer;
}
.weighted-average {
    float: left;
    text-align: center;
    margin-top: 40px;
}
.weighted-average .number {
    display: inline-block;
    text-align: center;
    padding: 10px;
    background: #BF002D;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 3px solid white;
    color: white;
    font-weight: bold;
}
.story-points {
    background: #FF819F;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size: .9em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.status {
    float: right;
    font-weight: bold;
    font-size: .9em;
    color: green;
    margin-right: 50px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    padding: 5px;
}